{%extends "base.html"%} {% block title%}MNN | About{%endblock%} {% block
content%}

<section class="container">
  <div style="font-size: 2.5rem; margin: 2rem 0; font-weight: 500; text-align:center">
    About MNN.
  </div>
  <div class="row">
    <div class="col-2">
      <img
        class="about-img"
        src="https://img.freepik.com/free-photo/vertical-shot-guitar-leaning-trunk-tree-middle-forest_181624-31547.jpg"
        alt="guitar images"
      />
    </div>
    <div class="col-2">
      <h2>Who are we</h2>
      <p>
        Welcome to MNN, your ultimate destination for all things guitar-related!
        At MNN, we are passionate about guitars and everything that surrounds them. 
        Whether you're a seasoned musician or just starting your musical journey, 
        we're here to provide you with top-notch instruments, and expert advice 
        to help you unleash your musical potential.
        

      </p><br>
      <p>
        Our mission is simple: provide guitar enthusiasts with a curated selection 
        of high-quality products that cater to every style, skill level, and budget.
        From classic acoustic guitars to cutting-edge electric models, we offer a
        diverse range of instruments from renowned brands to ensure that you find
        the perfect match for your playing style.

      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <h2>Our Products</h2>
      <p>
        But we're more than just a guitar shop – we're a community of music lovers 
        dedicated to fostering creativity and inspiration. That's why we regularly 
        host events, workshops, and jam sessions where musicians of all levels can 
        come together to learn, share, and connect.
      </p>
      <br />
      <p>
        Each product in our collection is meticulously curated to offer unparalleled 
        quality, tone, and playability, ensuring that every strum resonates with clarity 
        and expression. From timeless classics to cutting-edge designs, our guitars cater
        to musicians of all styles and skill levels, empowering them to explore new sonic
        horizons and unlock their full creative potential. Whether you're seeking the warm, 
        rich tones of an acoustic guitar or the electrifying versatility of an electric 
        model, our diverse selection guarantees that you'll find the perfect instrument to 
        inspire your musical journey. 
      </p>
    </div>
    <div class="col-2">
      <img
        class="about-img"
        src="https://img.freepik.com/premium-photo/learning-how-play-guitar-vertical-close-up-photo-acoustic-ukulele-guitars-lying-wooden-floor-with-music-notes-top-view-music-equipment-music-shop-musical-instruments_386167-3534.jpg"
        alt="clothes images"
      />
    </div>
  </div>
  <div class="row">
    <h2>Our Commitment</h2>
    <p class="about-para">
      At MNN, customer satisfaction is our top priority. Our friendly and staff are
      here to assist you every step of the way, whether you're searching for your 
      dream guitar or need help with maintenance and repairs. We pride ourselves 
      on providing exceptional service and building lasting relationships with our customers.


    </p>
    <p class="about-para">
      Thank you for choosing MNN as your go-to destination for all things guitar. Whether 
      you're browsing online or visiting our store, we're excited to be part of your musical 
      journey. Let's make some beautiful music together!
    </p>
  </div>
</section>

{% endblock %}
