{%extends "base.html"%} {% block title%}MNN{%endblock%} {% block content%}

<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <h1>Strumming the Melodies of Passion and Craftsmanship</h1>
        <p>
          Discover Your Unique Sound: Explore an Eclectic Range of Musical
          Instruments and Accessories to Elevate Your Musical Journey.
        </p>
        <a href="/all_products" class="btn">Explore Now &#8594;</a>
      </div>
      <div class="col-2 image-wraper">
        <img src="static/images/hero-image-3.png" />
      </div>
    </div>
  </div>
</div>
<!-- Brands -->

<div class="brands">
  <div class="small-container">
    <div class="row">
      <div class="col-5">
        <a href="https://www.taylorguitars.com/" target="_blank"
          ><img src="static/images/brand1.png"
        /></a>
      </div>
      <div class="col-5">
        <a href="https://www.gibson.com/en-US/" target="_blank"
          ><img src="static/images/brand2.png"
        /></a>
      </div>
      <div class="col-5">
        <a href="https://www.takamine.com/" target="_blank"
          ><img src="static/images/brand3.png"
        /></a>
      </div>
      <div class="col-5">
        <a
          href="https://www.fender.com/en-US/electric-guitars/"
          target="_blank"
        ></a
        ><img src="static/images/brand4.png" />
      </div>
      <div class="col-5">
        <a href="https://www.martinguitar.com/guitars/" target="_blank"
          ><img src="static/images/brand5.png"
        /></a>
      </div>
    </div>
  </div>
</div>
<!-- Featured Products -->

<div class="small-container">
  <h2 class="title">Featured Products</h2>
  <div class="row">
    {% for product in featuresProduct%}
    <div class="col-4">
      <a href="/product_detail/{{product[0]}}"><img src="{{ product[5]}}" /></a>
      <h4>{{product[1]}}</h4>
      {%set rate = product[3]|int%}
      <div class="rating">
        {%for i in range(0, rate) %}
        <i class="fa fa-star"></i>
        {%endfor%} {%for i in range(rate, 5) %}
        <i class="fa fa-star-o"></i>
        {%endfor%}
        <p>{{product[6]}}</p>
      </div>
    </div>
    {%endfor%}
  </div>
  <h2 class="title">Latest Products</h2>
  <div class="row">
    {% for product in latestProducts%}
    <div class="col-4">
      <a href="/product_detail/{{product[0]}}"><img src="{{ product[5]}}" /></a>
      <div class="detail">
        <h4>{{product[1]}}</h4>
        {%set rate = product[3]|int%}
        <div class="rating">
          {%for i in range(0, rate) %}
          <i class="fa fa-star"></i>
          {%endfor%} {%for i in range(rate, 5) %}
          <i class="fa fa-star-o"></i>
          {%endfor%}
          <p>{{product[6]}}</p>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</div>

<!-- Offer -->
<div class="offer">
  <div class="small-container">
    <div class="row">
      <div class="col-2">
        <img
          src="https://vietthuong.vn/image/cache/catalog/fender/Electric/fender-am-ultra-strat-maple-hss-ultraburst-0118022712-450x471.jpg"
          class="offer-img"
        />
      </div>
      <div class="col-2">
        <p>Exclusively Available on MNN</p>
        <h1>Luxury Limited Fibenare Guitars</h1>
        <small>
          Indulge in the opulent allure of Luxury Limited Fibenare Guitars,
          crafted to perfection with exquisite attention to detail, boasting
          unparalleled tonal richness and playability.<br
        /></small>
        <a href="/product_detail/11" class="btn">Buy Now &#8594;</a>
      </div>
    </div>
  </div>
</div>

<div class="testimonial">
  <div class="small-container">
    <div class="row">
      <div class="col-3">
        <i class="fa fa-quote-left"></i>
        <p>
          Explore what our customers have to say about their musical journey
          with us. From beginners finding their rhythm to seasoned professionals
          fine-tuning their craft, our guitars have inspired countless melodies.
          Read on to discover the stories behind the music and the passion that
          drives us forward.
        </p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <img
          src="https://images.unsplash.com/photo-1628157588553-5eeea00af15c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGF2YXRhcnxlbnwwfHwwfHx8MA%3D%3D"
        />
        <h3>NguyenLeMinHo.</h3>
      </div>
      <div class="col-3">
        <i class="fa fa-quote-left"></i>
        <p>
          Discover the heartfelt melodies of praise from our community of guitar
          enthusiasts. From heartfelt strums to electrifying solos, our guitars
          have been the catalyst for countless musical journeys. Explore the
          testimonials below and become part of our harmonious family.
        </p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <img
          src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YXZhdGFyfGVufDB8fDB8fHww"
        />
        <h3>MIKE A.</h3>
      </div>
      <div class="col-3">
        <i class="fa fa-quote-left"></i>
        <p>
          Hear the harmonious echoes of satisfaction from our cherished patrons.
          Dive into a symphony of testimonials showcasing how our guitars have
          become the soulful companions of musicians worldwide. Join the chorus
          of praise and share your own musical tale with us.
        </p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <img
          src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YXZhdGFyfGVufDB8fDB8fHww"
        />
        <h3>KAREN P.</h3>
      </div>
    </div>
  </div>
</div>

<!-- Feadtued Categories -->

<div class="guarantee">
  <div class="small-container">
    <div class="row">
      <div class="col-3">
        <div class="grey-circle">
          <img src="static/images/icon-delivery.png" />
        </div>
        <div style="display: flex; align-items: center; flex-direction: column">
          <h3 className=" text-xl font-bold mb-2">FREE AND FAST DELIVERY</h3>
          <p>Free delivery for all orders over $140</p>
        </div>
      </div>
      <div class="col-3">
        <div class="grey-circle">
          <img src="static/images/Icon-Customer.png" />
        </div>
        <div style="display: flex; align-items: center; flex-direction: column">
          <h3 className=" text-xl font-bold mb-2">24/7 CUSTOMER SERVICE</h3>
          <p>Friendly 24/7 customer support</p>
        </div>
      </div>
      <div class="col-3">
        <div class="grey-circle">
          <img src="static/images/icon-secure.png" />
        </div>
        <div style="display: flex; align-items: center; flex-direction: column">
          <h3 className=" text-xl font-bold mb-2">MONEY BACK GUARANTEE</h3>
          <p>We return money within 30 days</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
